@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Lobster&family=Manrope&family=Poppins:wght@400;600;700&display=swap");

/* *Custom CSS* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.primary-btn {
  background-color: #f74545;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 1px;
}

.primary-btn:hover {
  background-color: #fc0808;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 130px 180px 0;
}

.section-heading {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  color: #121212;
}

.section-desc {
  text-align: center;
  width: 690px;
  margin: 0 auto;
  margin-top: 20px;
  color: #707070;
  font-size: 18px;
}

/* *Header CSS* */

header {
  background-image: url(./images/donation-images/donation4.jpg);
  width: 100%;
  height: 630px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  object-fit: cover;
  margin: 0 auto;
  z-index: -1;
}

header div {
  padding: 175px 307px;
  text-align: center;
  background-image: linear-gradient(
    360deg,
    #121212 0%,
    rgba(18, 18, 18, 0) 100%
  );
}

header div h1 {
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 55px;
  color: #ffffff;
}

header div p {
  color: #ffffffcc;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  margin-bottom: 25px;
}

/* *Donate Section* */

.donate-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donate-section div {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.donate-section div span {
  background-color: #fafafa;
  padding: 40px 25px;
  margin-right: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  border-radius: 5px;
  color: #707070;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid transparent;
}

.donate-section div span:hover {
  border: 2px solid #fc0808;
  background-color: #ffeeee;
  color: #fc0808;
}

.donate-section input {
  margin-top: 90px;
  border: none;
  border-bottom: 1px solid #dadada;
  width: 765px;
  outline: none;
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  color: #4f4e4e;
}

.donate-section input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.donate-section input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #b3b3b3;
  font-size: 18px;
  line-height: 28px;
}

/* *Donate Plan CSS* */

.donate-plan-container {
  display: flex;

  margin-top: 50px;
}

.donate-plan-item {
  width: 360px;
  height: 352px;
  padding: 22px;
  border-radius: 5px;
  margin-right: 20px;
}

.donate-plan-item img {
  width: 58px;
  height: 49px;

  margin-top: 35px;
}

.donate-plan-item h4 {
  font-size: 22px;
  font-weight: 600;
  color: #121212;
  margin-top: 10px;
}

.donate-plan-item article {
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  margin-top: 10px;
}

/*  *Contribute Section CSS* */

.contribute-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.contribute-article {
  width: 460px;
  height: 374px;
}

.contribute-article h4 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  line-height: 50px;
  font-weight: 700;
  color: #121212;
}

.contribute-article article {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #707070;
  line-height: 28px;
  margin: 25px 0;
}

.contribute-img {
  width: 460px;
  height: 477px;
}

.contribute-img img {
  width: 100%;
  height: 477px;
  object-fit: cover;
  border-radius: 5px;
}

/* *Get My Updates CSS* */

.get-update-section .input-div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff4d6;
  width: 800px;
  margin: 50px auto 200px;
  padding: 70px 0;
}

.input-div input {
  width: 400px;
  background-color: #d9d9d9;
  border: none;
  outline: none;
  padding: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.input-div button {
  margin-left: -80px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background-color: #fc0808;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.input-div button:hover {
  background-color: #f15757;
}

/* *Footer Section CSS* */

footer {
  background-color: #0b0d17;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}

footer span:nth-child(1) {
  font-family: "Lobster", cursive;
  color: #ff5959;
  font-size: 35px;
  letter-spacing: 0.5px;
}

footer span:nth-child(2) {
  color: #d9dbe1;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  margin-top: 10px;
  letter-spacing: 1px;
}

/* *Scrollbar-edit* */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #eb8f8f;
}
